<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_method.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment_method.description %>
</p>

<%= link_to 'Editar', edit_payment_method_path(@payment_method) %> |
<%= link_to 'Voltar', payment_methods_path %>
